In [1]:
'''
@Author: Viney Khaneja
@Date: 2022-05-21 09:13
@Last Modified by: Viney Khaneja
@Last Modified time: None
@Title : CPU Logs PFiles Loading from HDFS using PySpark DataFrame
'''

from pyspark.sql import *
# spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *
spark = SparkSession.builder.config("spark.jars", "/usr/share/java/mysql-connector-java-8.0.29.jar").master("local").appName("PySpark_MySQL_test").getOrCreate()

22/05/21 09:31:31 WARN Utils: Your hostname, viney-Lenovo-G50-80 resolves to a loopback address: 127.0.1.1; using 192.168.0.198 instead (on interface wlp3s0)
22/05/21 09:31:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/05/21 09:31:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## Loading CPU Log Files from Hadoop in Pyspark DataFrame

In [2]:
rdd_cpu_logs_data_hdfs = spark.read.csv("hdfs://localhost:9000/cpulogs/*.csv",header=True)

In [3]:
df1 = rdd_cpu_logs_data_hdfs.select(["user_name","DateTime","keyboard","mouse",'Cpu Count'])
df2 = df1.groupBy("user_name").count()
rdd_cpu_logs_data_hdfs.createOrReplaceTempView("tbl_working_counts")

22/05/21 09:31:54 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [17]:
hdfs_pyspark_df = rdd_cpu_logs_data_hdfs.select(["user_name","DateTime","keyboard","mouse",'Cpu Count'])
hdfs_pyspark_df.show()
hdfs_pyspark_df.createOrReplaceTempView("tbl_sql_try")

+--------------------+-------------------+--------+------+---------+
|           user_name|           DateTime|keyboard| mouse|Cpu Count|
+--------------------+-------------------+--------+------+---------+
|  iamnzm@outlook.com|2019-09-19 08:40:02|     1.0|  32.0|        2|
|  iamnzm@outlook.com|2019-09-19 08:45:02|     0.0|   0.0|        2|
|  iamnzm@outlook.com|2019-09-19 08:50:01|     0.0|   0.0|        2|
|  iamnzm@outlook.com|2019-09-19 08:55:01|    11.0| 900.0|        2|
|  iamnzm@outlook.com|2019-09-19 09:00:01|     2.0|  25.0|        2|
|  iamnzm@outlook.com|2019-09-19 09:05:01|    37.0| 336.0|        2|
|deepshukla292@gma...|2019-09-19 09:05:01|     0.0|  55.0|        2|
|  iamnzm@outlook.com|2019-09-19 09:10:01|     0.0| 136.0|        2|
|deepshukla292@gma...|2019-09-19 09:10:01|     6.0|1112.0|        2|
|  iamnzm@outlook.com|2019-09-19 09:15:02|     0.0|  84.0|        2|
|deepshukla292@gma...|2019-09-19 09:15:02|     0.0| 357.0|        2|
|markfernandes66@g...|2019-09-19 09:15:01|    20.0| 670.0|        4|
|markfernandes66@g...|2019-09-19 09:10:01|    17.0|   0.0|        4|
|markfernandes66@g...|2019-09-19 09:20:01|    29.0|1895.0|        4|
|  iamnzm@outlook.com|2019-09-19 09:20:02|     0.0|  29.0|        2|
|deepshukla292@gma...|2019-09-19 09:20:02|    35.0|3022.0|        2|
|markfernandes66@g...|2019-09-19 09:25:01|     2.0| 238.0|        4|
|  iamnzm@outlook.com|2019-09-19 09:25:01|     0.0|   0.0|        2|
|deepshukla292@gma...|2019-09-19 09:25:01|    20.0|1330.0|        2|
|markfernandes66@g...|2019-09-19 09:30:01|     5.0|  39.0|        4|
+--------------------+-------------------+--------+------+---------+
only showing top 20 rows

In [14]:
os.environ['DB_NAME'] = "cpulogdata"
os.environ['DB_USER'] = "root"
os.environ['HOST'] = "localhost"
os.environ["PASSWORD"] = "7206594149@Vi"

In [15]:
import os
database = os.getenv('DB_NAME')
user= os.getenv('DB_USER')
password = os.getenv('PASSWORD')
host= os.getenv('HOST')
print(database)

cpulogdata

In [18]:
try:
    jdb_curl = f"jdbc:mysql://localhost/"+database
    hdfs_pyspark_df.write.format("jdbc").option("url",jdb_curl) \
        .mode("overwrite")\
        .option("dbtable","tbl_sql_try") \
        .option("driver","com.mysql.jdbc.Driver")\
        .option("user",user).option("password",password).save()
    print("Data uploaded to MySql")
except Exception as ex:
    print(ex)

An error occurred while calling o93.save.
: java.sql.SQLSyntaxErrorException: Incorrect column name 'Usage Cpu Count '
	at com.mysql.cj.jdbc.exceptions.SQLError.createSQLException(SQLError.java:120)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:122)
	at com.mysql.cj.jdbc.StatementImpl.executeUpdateInternal(StatementImpl.java:1335)
	at com.mysql.cj.jdbc.StatementImpl.executeLargeUpdate(StatementImpl.java:2085)
	at com.mysql.cj.jdbc.StatementImpl.executeUpdate(StatementImpl.java:1246)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.executeStatement(JdbcUtils.scala:1031)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.createTable(JdbcUtils.scala:917)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:80)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:106)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:106)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:91)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:128)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)